.footer__menu {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer__menu {
        width: 98%;
        flex-direction: column;
        text-align: center;
    }
}